body {
  background-image: linear-gradient(to bottom right, gray, black);;
}


.descricao {
    text-align: center;
    color: antiquewhite;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3cm;
    margin-right: 3cm;
    
    
}


.cent {
  color: rgb(97, 45, 45);                
  padding: 20px 0;             
  text-align: center;           
  
  font-size: xxx-large;   /* Não fazia ideia que xxx large existia */
  transition: color 0.3s ease;
  top: 0%;
  width: 100%;

}



.cent:h/over {
  color: rgb(100, 100, 100);
}



.containerG {
  display: flex;               /* Organiza os itens na horizontal */
  align-items: center;         /* Alinha o texto e a imagem no centro vertical */
  gap: 5px;                   /* Espaço entre imagem e texto */
}

.image {
  width: 350px; 
  height: 335px;
  margin: 10px;
  border-radius: 50px;     
  box-shadow: 10px 10px 0px orange;


}

.image:hover{
  box-shadow: 0px 0px 45px orange 
}

.image2 {
  width: 350px; 
  height: 335px;
  margin: 10px;
  border-radius: 50px;     
  box-shadow: 10px 10px 0px rgb(192 50 50);


}

.image2:hover{
  box-shadow: 0px 0px 45px rgb(192 50 50);
}

.image3 {
  width: 350px; 
  height: 335px;
  margin: 10px;
  border-radius: 50px;     
  box-shadow: 10px 10px 0px lightblue;
}

.image3:hover{
  box-shadow: 0px 0px 45px lightblue
}

.image4 {
  width: 350px; 
  height: 335px;
  margin: 10px;
  border-radius: 50px;     
  box-shadow: 10px 10px 0px darkgray;
}

.image4:hover{
  box-shadow: 0px 0px 45px darkgray;
}

.lista {
  font-size: 18px;
  color: antiquewhite;
  max-width: 500px;            /* Limita o tamanho do texto */
  font-weight: bold;
}


.link{ 
  
  text-decoration: none;
  color: antiquewhite;
}

.link:hover{
  text-decoration: underline;
  color:  rgb(99, 27, 27);
}

.box-img2{ 
  
  text-decoration: none;
  color: black;
}

.box-img2:hover{
  text-decoration: underline;
  color:  rgb(99, 27, 27);
}


.separacao{
  height: 50px;
  background-size: 10px;
}

