body {
 background-color: rgb(225,225,225); 

}

.descricao {
    text-align: center;
    color: black;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3cm;
    margin-right: 3cm;
    
    
}


.cent {
  background-color: rgb(129, 129, 129);     
  color: rgb(97, 45, 45);                
  padding: 20px 0;             
  text-align: center;           
  box-shadow: 0 2px 10px #0005;
  font-size: xxx-large;   /* Não fazia ideia que xxx large existia */
  cursor: pointer;
  transition: background-color 0.3s;
}
.cent:hover {
  background-color: rgb(100, 100, 100);
}



.containerG {
  display: flex;               /* Organiza os itens na horizontal */
  align-items: center;         /* Alinha o texto e a imagem no centro vertical */
  gap: 5px;                   /* Espaço entre imagem e texto */
}

.Cujo {
  width: 350px; 
  height: 335px;
  margin: 10px;
  border-radius: 50px;     
  box-shadow: 10px 10px 0px orange;


}

.Cujo:hover{
  box-shadow: 0px 0px 25px 
}

.lista {
  font-size: 18px;
  color: #333;
  max-width: 500px;            /* Limita o tamanho do texto */
  font-weight: bold;
}


.teste{ 
  
  text-decoration: none;
  color: black;
}

.teste:hover{
  text-decoration: underline;
  color:  rgb(99, 27, 27);
}


.separacao{
  height: 50px;
  background-size: 10px;
}

