bodyY {
  background-image: url("imagens-maneiras/background.jpg"); /* Caminho da imagem */
  background-size: cover;        /* Faz a imagem cobrir toda a tela */
  background-repeat: no-repeat;  /* Impede que a imagem fique se repetindo */
  background-position: center;   /* Centraliza a imagem */
  height: 100;                 /* Garante altura da viewport */
  margin: 0;                     /* Remove margem padrão do body */
}


.descricao {
    text-align: center;
    color: black;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3cm;
    margin-right: 3cm;
    
    
}


.cent {
  background-color: rgb(129, 129, 129);     
  color: rgb(97, 45, 45);                
  padding: 20px 0;             
  text-align: center;           
  box-shadow: 0 0px 20px #0005;
  font-size: xxx-large;   /* Não fazia ideia que xxx large existia */
  cursor: crosshair;
  transition: background-color 0.3s;
  top: 0%;
  width: 100%;

}



.cent:hover {
  background-color: rgb(100, 100, 100);
}



.containerG {
  display: flex;               /* Organiza os itens na horizontal */
  align-items: center;         /* Alinha o texto e a imagem no centro vertical */
  gap: 5px;                   /* Espaço entre imagem e texto */
}

.image {
  width: 350px; 
  height: 335px;
  margin: 10px;
  border-radius: 50px;     
  box-shadow: 10px 10px 0px orange;


}

.image:hover{
  box-shadow: 0px 0px 45px orange 
}

.image2 {
  width: 350px; 
  height: 335px;
  margin: 10px;
  border-radius: 50px;     
  box-shadow: 10px 10px 0px rgb(192 50 50);


}

.image2:hover{
  box-shadow: 0px 0px 25px rgb(192 50 50);
}

.lista {
  font-size: 18px;
  color: #333;
  max-width: 500px;            /* Limita o tamanho do texto */
  font-weight: bold;
}


.link{ 
  
  text-decoration: none;
  color: black;
}

.link:hover{
  text-decoration: underline;
  color:  rgb(99, 27, 27);
}

.box-img2{ 
  
  text-decoration: none;
  color: black;
}

.box-img2:hover{
  text-decoration: underline;
  color:  rgb(99, 27, 27);
}


.separacao{
  height: 50px;
  background-size: 10px;
}

